.filter-component {

    margin: 15px;

    h3 {
        font-size: 20px;
        font-family: 'Bigelow Rules';
        font-size: 72px;
        color: #0ccac4;
        padding: 0;
    }



    .species,
    .gender {
        display: block;
        border: 1px solid #fff;
        background-color: white;
        width: 250px;
        padding: 10px;
        margin: 5px auto;

        h3 {
            font-family: 'Bigelow Rules';
            font-size: 50px;
            color: #0ccac4;
            padding: 0;
        }

        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 18px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked~.checkmark {

                    background-color: #eee;
                }

                &:checked~.checkmark ::after {
                    display: block;
                }
            }

            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;

                background-color: #2196F3;

                &::after {
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid black;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }


                &::after {
                    content: "*";
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;

                    position: absolute;
                    display: none;
                }
            }
        }
    }
     .gender{
        display: block;
        border: 1px solid #fff;
        background-color: white;
        width: 250px;
        padding: 10px;
        margin: 5px auto;

            h3 {
                font-family: 'Bigelow Rules';
                font-size: 50px;
                color: #0ccac4;
                padding: 0;
            }
            ul {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 18px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                li{
 
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
        
                        &:checked~.checkmark {
        
                            background-color: #eee;
                        }
        
                        &:checked~.checkmark ::after {
                            display: block;
                        }
                    }
        
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 25px;
                        width: 25px;
        
                        background-color: #2196F3;
        
                        &::after {
                            left: 9px;
                            top: 5px;
                            width: 5px;
                            height: 10px;
                            border: solid black;
                            border-width: 0 3px 3px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
        
        
                        &::after {
                            content: "*";
                            left: 9px;
                            top: 5px;
                            width: 5px;
                            height: 10px;
                            border: solid white;
                            border-width: 0 3px 3px 0;
        
                            position: absolute;
                            display: none;
                        }
                    }

                }

            }

     }
}