.card-list {
  display: block;

  .upper-wrapper {
    display: flex;
    flex-direction: row;

    span {
      width: 50%;
      margin: 15px;
    }
  }

  .lower-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}